#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #1d21ffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

p {
  font-weight: 500;
  will-change: filter;
  transition: filter 300ms;
  padding: 5px 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  background-color: #000000;
}

p:hover {
  filter: drop-shadow(0 0 1.5em #a8a8a8aa);
}

.filter {
  margin-bottom: 10px;
}

.filterText {
  font-weight: 600;
}

.filterButton {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  margin-left: 5px;
  
}